<!-- instagram/create_post_form.html
    display the HTML form to create a new Post (and its Photos) for a Profile.
-->
{% extends 'base.html' %}


{% block content %}
<h1>Create a new Post for @{{ profile.username }}</h1>

<!-- display the HTML form -->
<form method="post" action="{% url 'create_post' profile.pk %}" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
        <p>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </p>
    {% endfor %}

    <p>
        <label for="id_files">Photo(s)</label>
        <input type="file" name="files" id="id_files" multiple>
    </p>

    <button type="submit">Create Post</button>
    <a href="{% url 'show_profile' profile.pk %}"><button type="button">Cancel</button></a>
</form>


{% endblock %}
